<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="nogotochkiEntities" connectionString="metadata=res://*/nogotochki.csdl|res://*/nogotochki.ssdl|res://*/nogotochki.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EN60JPM\SQLEXPRESS;initial catalog=nogotochki;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>